{% extends 'app/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}

{% block main-content %}
<div class="container my-5">
  <div class="row">
    <!-- Sidebar / Filter -->
    <div class="col-12 col-md-3 mb-3">
      <!-- Mobile Filter Dropdown -->
      <div class="d-md-none mb-3">
        <button class="btn btn-primary w-100" type="button" data-bs-toggle="collapse" data-bs-target="#mobileFilter" aria-expanded="false" aria-controls="mobileFilter">
          Filter TopWear
        </button>
        <div class="collapse mt-2" id="mobileFilter">
          <div class="list-group">
            <a href="{% url 'topwear'%}" class="list-group-item list-group-item-action">All TopWear</a>
            <a href="{% url 'topweardata' 'nike' %}" class="list-group-item list-group-item-action">Nike</a>
            <a href="{% url 'topweardata' 'adidas' %}" class="list-group-item list-group-item-action">Adidas</a>
          </div>
        </div>
      </div>
      <!-- Desktop Sidebar -->
      <div class="d-none d-md-block">
        <div class="list-group">
          <a href="{% url 'topwear'%}" class="list-group-item list-group-item-action">All TopWear</a>
          <a href="{% url 'topweardata' 'nike' %}" class="list-group-item list-group-item-action">Nike</a>
          <a href="{% url 'topweardata' 'adidas' %}" class="list-group-item list-group-item-action">Adidas</a>
        </div>
      </div>
    </div>

    <!-- Product List -->
    <div class="col-12 col-md-9">
      <div class="row">
        {% for product in topwears %}
          <div class="col-6 col-md-4 text-center mb-4">
            <a href="{% url 'product-detail' product.id %}" class="text-decoration-none text-dark">
              <div class="card h-100 shadow-sm">
                <img src="{{ product.product_image.url }}" class="card-img-top" alt="{{ product.title }}">
                <div class="card-body">
                  <h6 class="card-title">{{ product.title }}</h6>
                  <p class="card-text">Rs. {{ product.discounted_price }}</p>
                </div>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock main-content %}
